body {
  font-family: Helvetica, Arial;
  background: #2D1575;
  color: #F9582C;
}


/* MAIN CONTENT */ 

#main {
  position: relative;
  height: 100%;
  width: 75vw;

}

#start {
  position: relative;
  height: 900px;
}

#foo {
  position: relative;
  height: 900px;
}

#bar {
  position: relative;
  height: 900px;
}

#baz {
  position: relative;
  height: 900px;
  display: block; 
}


/* MENU */ 
#menu {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 35vw;
  float: left;
}

#tranche {
  position: absolute;
  border-left: .5vw solid #9B3821;
  border-right: .5vw solid #9B3821;
  top: 0;
  left: 0;
  height: 100vh;
  width: 6vw;
  background-color: #F9582C;
}

#tranche table {
  position: relative;
  color: black;
  width: 6vw;
  height: 100vh;
  text-align: center;
}

#tranche table img {
  width: 4.5vw;

}

#cell_top {

}

.tranche_desc {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  position: relative;
  font-size: 1.3vw;
  left: calc((6vw - 1.5vw) / 2);

}

#top-menu {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 50%;
}

#top-menu a {
  display: block;
  padding: 5px 25px 7px 25px;
  width: 4em;
  text-align: center;
  -webkit-transition: .5s all ease-out;
  -moz-transition: .5s all ease-out;
  transition: .5s all ease-out;
  color: #F9582C;
  text-decoration: none;
}

#top-menu a:hover {
  font-weight: bold;
}

#top-menu {
  list-style: none;
}

#top-menu li.active a {
  font-weight: bold;
}


