body {
  height: 6000px;
  font-family: Helvetica, Arial;
}

#top-menu {
  position: fixed;
  z-index: 1;
  background: white;
  right: 0;
  top: 50%;
}

#top-menu a {
  display: block;
  padding: 5px 25px 7px 25px;
  width: 4em;
  text-align: center;
  -webkit-transition: .5s all ease-out;
  -moz-transition: .5s all ease-out;
  transition: .5s all ease-out;
  border-top: 3px solid white;
  color: #aaa;
  text-decoration: none;
}

#top-menu a:hover {
  color: #000;
}

#top-menu {
  list-style: none;
}

#top-menu li.active a {
  color: #000;
}

#foo {
  position: absolute;
  top: 400px;
}

#bar {
  position: absolute;
  top: 800px;
}

#baz {
  position: absolute;
  top: 1200px;
}
