body {
  font-family: Avenir_Light;
  background: #2D1575;
  color: #F9582C;
  --main: 65vw;
  --margin_content: 7.5vw;
}

body.active_second{
  overflow: hidden;
}

  /* CREDITS
  -----------------------------------*/
#credits {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  position: fixed;
  bottom: 15px;
  left: 15px;
  font-size: calc(12px + .2vw);

}
  /* Arrow Button 
  -----------------------------------*/
.container-arrow{
  font-weight: bold;
  text-transform: uppercase;
  color: #F9582C;
  display: inline-block;
  text-align: center;
  line-height: 2vh;
  margin-bottom: 20px;
  position: fixed;
  bottom: 0px;
  left:0;
  z-index: 10;
  width: var(--main);
  font-size: calc(1em + .2vw);
  opacity: 1;
  -webkit-transition: .4s opacity ease-out;
  -moz-transition: .4s opacity ease-out;
  transition: .4s opacity ease-out;
}
/*** Arrow Bouncing ***/ 
.container-arrow span{
  display: inline-block; 
  font-size: calc(2em + 1.2vw);
  animation: .7s down  infinite alternate;
  -webkit-animation: .7s down infinite alternate;
} 
/*** Animation Arrow down ***/ 
@keyframes down{ 0%{transform:translateY(0px)} 100%{transform:translateY(20px)} } 
@-webkit-keyframes down{ 
  0%{-webkit-transform:translateY(0px)}
  100%{-webkit-transform:translateY(20px)}
} 



  /* TEXTE Formatage
  -----------------------------------*/

p {
  position: relative;
  margin: 1em calc(var(--margin_content) + 10vw);
  font-size: calc(12px + .2vw);
  font-family: Avenir_Light;
}

h1 {
  position: relative;
  font-size: calc(20px + 2vw);
  font-family: 'charter';
  font-weight: 900;
  margin: 7.5vh var(--margin_content) 5vh var(--margin_content);

}

h2 {
  font-family: 'charter';
  font-weight: bold;
  font-size: calc(14px + 1vw);
  margin: 4vh calc(var(--margin_content) + 8vw);
}

ul {
  position: relative;
  margin: 1em calc(var(--margin_content) + 10vw);
  list-style: none; 
}

  /* LOADER FULL PAGE 
  -----------------------------------*/
#loading-logo {
  width: 300px;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  position: fixed;

}
.logo-loading, .logo-loading2, .logo-loading3, .logo-loading4 {
  fill: #F9582C;
  animation: colourChange 2.5s infinite;
  overflow: hidden;
}
.logo-loading2 {
  animation-delay: .15s;
}
.logo-loading3 {
  animation-delay: .32s;
}

.logo-loading4 {
  animation-delay: .42s;
}

@keyframes colourChange {
  0% {
    fill: #F9582C;
  }
  30% {
    fill: #F9582C;
  }
  70% {
    fill: #2D1575;
  }
}

  /* MAIN CONTENT
  -----------------------------------*/

#main {
  position: relative;
  height: 100%;
  width: var(--main);
}

section {
  position: relative;
  min-height: 100vh;
  display: flex; /* contexte sur le parent */
  flex-direction: column; /* direction d'affichage verticale */
  justify-content: center; /* alignement vertical */
}

.section_content {
  position: relative;

}

/*** START CONTENT ***/ 


#start .img_content {
  position:relative;
  margin: 0 calc(var(--margin_content) + 5vw) 4vh calc(var(--margin_content) + 5vw);
  width: calc(var(--main) - 25vw);
  height: 40vh;
}

#start .img_content img{
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#start h1 {
  position: relative;
  font-size: calc(20px + 2vw);
  font-family: 'charter';
  font-weight: 900;
  margin: 0 var(--margin_content) 5vh var(--margin_content);

}

#start h2 {
  font-family: 'charter';
  font-weight: bold;
  font-size: calc(14px + 1vw);
  margin: 4vh calc(var(--margin_content) + 8vw) 0 calc(var(--margin_content) + 8vw);
}

  /* MENU 
  -----------------------------------*/
#menu {
  position: fixed;
  left: var(--main);
  top: 0;
  height: 100vh;
  width: 35vw;
  background: #2D1575;
  text-align: center;
  z-index: 999;
}

#tranche {
  position: relative;
  border-left: .5vw solid #9B3821;
  border-right: .5vw solid #9B3821;
  top: 0;
  left: 0;
  height: 100vh;
  width: 6vw;
  background-color: #F9582C;
  float: left;
}

#tranche table {
  position: relative;
  color: #2D1575;
  width: 6vw;
  height: 100vh;
  text-align: center;
  border-spacing: 0;
}

#tranche table img {
  width: 4.5vw;

}

#cell_top {
  vertical-align: top;
}

#cell_bottom {
  vertical-align: bottom;
}

.tranche_desc {
  width: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  position: relative;
  font-family: Avenir_Black;
  font-size: calc(12px + .8vw);
  text-align: center;
  min-height: 10em;
  line-height: 2em;
}

#logo_H {
  height: 12vw;
  right: -20vw;
  top: 30vh;
  position: absolute;
}


#top-menu {
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  top: 65vh;
  list-style: none;
}

#top-menu a {
  display: block;
  text-align: center;
  -webkit-transition: .5s all ease-out;
  -moz-transition: .5s all ease-out;
  transition: .5s all ease-out;
  color: #F9582C;
  font-family: Avenir_Roman;
  font-size: calc(12px + .7vw);
  text-decoration: none;
  text-align: left;
  line-height: 4.5vh;
  opacity: .3;
}

#top-menu a:hover {
  opacity: 1;
}

#top-menu li.active a {
  opacity: 1;
}

  /* CONTENU SECONDAIRE
  -----------------------------------*/
.close:before {
  font-family: 'mfg_labs_iconsetregular';
  font-size: calc(20px + 1.5vw);
  content: "\f007";
  margin-right: 4vh;
  padding: 0;
}

.thankyou {
  position: fixed;
  width: var(--main);
  height: 100vh;
  top:0;
  left: var(--main);
  opacity: 0;
  z-index: 2;
}

.thankyou h2 {
  margin-top: 1vh;
}

.thankyou .date{ margin: 0 calc(var(--margin_content) + 8vw); }

.thankyou .img_content {
  position:relative;
  margin: 0 calc(var(--margin_content) + 5vw) 4vh calc(var(--margin_content) + 5vw);
  width: calc(var(--main) - 25vw);
  height: 40vh;
}

.thankyou .img_content img{
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.close {
  text-align: left;
  position: relative;
  font-size: calc(2em + 1.2vw);
  font-family: 'charter';
  font-weight: 900;
  cursor: pointer;
  margin: 7.5vh var(--margin_content) 5vh var(--margin_content);
}

.section-content {
  width: 100%;
  max-height: 55vh;
  margin: 0 auto;
  overflow: scroll;
}


  /* THUMBS ACTUALITES 
  -----------------------------------*/

.actu_link {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.actu_link table {
  vertical-align: middle;
  border-spacing: 0;
  height: 100%;
}

.actu_link :hover .actu_img{
  opacity: 0;
  -webkit-transition: .3s all ease-out;
  -moz-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

td.actu_date {vertical-align: bottom; font-size: calc(12px + .3vw); height: 9vh;}

td.actu_title {
  text-align: right;
  vertical-align: top;
  font-size: calc(12px + .4vw);
  font-family: 'charter';
  font-weight: 900;
  height: 9vh;
}

.actu_img {
  position: relative;
  display: hidden;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: .5s all ease-out;
  -moz-transition: .5s all ease-out;
  transition: .5s all ease-out;
  z-index: 2;
}

.actu_excerpt {
  position: relative;
  z-index: 1;
  top: -22.5vh;
  height: 18vh;
  font-size: calc(12px + .2vw);
  color: #F9582C;
  margin: 2vh 2vw;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.cell_actu_center{
  height: 25vh;
}

.actu_center {
  background: #2D1575;
  border: none;
  width: 100%;
  height: 22vh;
}


  /* CAROUSEL ACTU 
  -----------------------------------*/
.slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: calc(var(--main) - 10vw);;
}

.slider {
  position: relative;
  background: #F9582C;
  color: #2D1575;
  height: 43vh;
  display:flex;
  justify-content:center;
  align-items:center;
  z-index: 5;

}

.slick-slide {
  height: 43vh;
  position: relative;
  display: table-cell;
  vertical-align:middle;
  padding: 0 1.5vw;
}

.slick-prev.slick-arrow, .slick-next.slick-arrow {
  position: absolute;
  cursor: pointer;
  color: transparent;
  border: 0;
  background: transparent;
  width: 5vw !important;
  height: 43vh;
  padding: 0;
}

.slick-prev {left: 0%;}

.slick-next {right: 0%;}

.slick-prev:before {
  content: "\f007";
  display:flex;
  justify-content:center;
  align-items:center;
  margin: 0;
  padding: 0;
}

.slick-next:before {
  content: "\f006";
  display:flex;
  justify-content:center;
  align-items:center;
}

.slick-prev:hover::before, .slick-next:hover::before {
  opacity: 1;
  -webkit-transition: .5s all ease-out;
  -moz-transition: .5s all ease-out;
  transition: .5s all ease-out;
}

.slick-prev:before, .slick-next:before {
  font-family: 'mfg_labs_iconsetregular';
  font-size: calc(20px + 1.5vw);
  opacity: .45;
  color: #2D1575;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: .5s all ease-out;
  -moz-transition: .5s all ease-out;
  transition: .5s all ease-out;
}

.slick-dots {
  position: absolute;
  width: 100%;
  height: 2vh;
  padding: 0;
  display:flex;
  justify-content:center;
  align-items:center;
  bottom: -10vh;
  margin: 0;
  color: #F9582C;
  list-style: none;
}

.slick-dots li button {
  line-height: 0;
  position: relative;
  height: 2vh;
  width: 2vh;
  margin: 0 1vh;
  display: inline-block;
  float: left;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;

}

.slick-dots li.slick-active button:before, .slick-dots li button:hover::before {
    color: #F9582C;
    content: '•';
    font-family: 'Avenir_Black';
    font-size: calc(30px + .7vw);
    line-height: 7px;
}

.slick-dots li button:before {
    font-family: 'Avenir_Light';
    font-size: calc(20px + .7vw);
    line-height: 0px;
    position: absolute;
    top: 0;
    left: 0;
    height: 2vh;
    width: 2vh;
    content: 'o';
    text-align: center;
    color: #F9582C;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


  /* QUERIES RATIO
  -----------------------------------*/

@media (orientation: portrait) {
  body {--main: 93vw;}

}