@font-face {
font-family: 'Avenir_Black';
src: url('fonts/Avenir-Black-webfont.eot');
src: url('fonts/Avenir-Black-webfont.otf') format('truetype'),
     url('fonts/Avenir-Black-webfont.woff') format('woff'),
     url('fonts/Avenir-Black-webfont.eot?#iefix') format('embedded-opentype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Avenir_Light';
src: url('fonts/avenir-light-webfont.eot');
src: url('fonts/avenir-light-webfont.otf') format('truetype'),
     url('fonts/avenir-light-webfont.woff') format('woff'),
     url('fonts/avenir-light-webfont.eot?#iefix') format('embedded-opentype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Avenir_Medium';
src: url('fonts/Avenir-Medium-webfont.eot');
src: url('fonts/Avenir-Medium-webfont.otf') format('truetype'),
     url('fonts/Avenir-Medium-webfont.woff') format('woff'),
     url('fonts/Avenir-Medium-webfont.eot?#iefix') format('embedded-opentype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Avenir_MediumOblique';
src: url('fonts/Avenir-MediumOblique-webfont.eot');
src: url('fonts/Avenir-MediumOblique-webfont.otf') format('truetype'),
     url('fonts/Avenir-MediumOblique-webfont.woff') format('woff'),
     url('fonts/Avenir-MediumOblique-webfont.eot?#iefix') format('embedded-opentype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Avenir_Oblique';
src: url('fonts/Avenir-Oblique-webfont.eot');
src: url('fonts/Avenir-Oblique-webfont.otf') format('truetype'),
     url('fonts/Avenir-Oblique-webfont.woff') format('woff'),
     url('fonts/Avenir-Oblique-webfont.eot?#iefix') format('embedded-opentype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Avenir_Roman';
src: url('fonts/Avenir-Roman-webfont.eot');
src: url('fonts/Avenir-Roman-webfont.otf') format('truetype'),
     url('fonts/Avenir-Roman-webfont.woff') format('woff'),
     url('fonts/Avenir-Roman-webfont.eot?#iefix') format('embedded-opentype');
font-weight: normal;
font-style: normal;
}


body {
  font-family: Avenir_Light;
  background: #2D1575;
  color: #F9582C;
}


/* MAIN CONTENT */ 

#main {
  position: relative;
  height: 100%;
  width: 75vw;

}

#start {
  position: relative;
  height: 900px;
}

#foo {
  position: relative;
  height: 900px;
}

#bar {
  position: relative;
  height: 900px;
}

#baz {
  position: relative;
  height: 900px;
  display: block; 
}


/* MENU */ 
#menu {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 35vw;
  text-align: center;
}

#tranche {
  position: relative;
  border-left: .5vw solid #9B3821;
  border-right: .5vw solid #9B3821;
  top: 0;
  left: 0;
  height: 100vh;
  width: 6vw;
  background-color: #F9582C;
  float: left;
}

#tranche table {
  position: relative;
  color: #2D1575;
  width: 6vw;
  height: 100vh;
  text-align: center;
  border-spacing: 0;
}

#tranche table img {
  width: 4.5vw;

}

#cell_top {
  vertical-align: top;
}

#cell_bottom {
  vertical-align: bottom;
}

.tranche_desc {
  width: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  position: relative;
  font-family: Avenir_Black;
  font-size: calc(12px + .8vw);
  text-align: center;
  min-height: 10em;
  line-height: 2em;
}

#logo_H {
  height: 12vw;
  right: -20vw;
  top: 30vh;
  position: fixed;
}


#top-menu {
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  top: 65vh;
  list-style: none;
}

#top-menu a {
  display: block;
  text-align: center;
  -webkit-transition: .5s all ease-out;
  -moz-transition: .5s all ease-out;
  transition: .5s all ease-out;
  color: #F9582C;
  font-family: Avenir_Roman;
  font-size: calc(12px + .7vw);
  text-decoration: none;
  text-align: left;
  line-height: 4.5vh;
  opacity: .3;
}

#top-menu a:hover {
  opacity: 1;
}

#top-menu li.active a {
  opacity: 1;
}


