body {
  font-family: Avenir_Light;
  background: #2D1575;
  color: #F9582C;
}

body.active_second{
  overflow: hidden;
}

/* TEXTE */

p {
  position: relative;
  margin: 1em 10vw;
}

h1 {
  position: relative;
  font-size: calc(2em + 1.2vw);
  font-family: 'charter';
  font-weight: 900;
  margin: 7.5vh 0 5vh 0;

}

h2 {
  font-family: 'charter';
  font-weight: bold;
  font-size: calc(1.5em + .5vw);
  margin: 4vh 5vw;
}

/* LOADER FULLL PAGE */ 
#loading-logo {
  width: 300px;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  position: fixed;

}
.logo-loading, .logo-loading2, .logo-loading3, .logo-loading4 {
  fill: #F9582C;
  animation: colourChange 2.5s infinite;
  overflow: hidden;
}
.logo-loading2 {
  animation-delay: .15s;
}
.logo-loading3 {
  animation-delay: .32s;
}

.logo-loading4 {
  animation-delay: .42s;
}

@keyframes colourChange {
  0% {
    fill: #F9582C;
  }
  30% {
    fill: #F9582C;
  }
  70% {
    fill: #2D1575;
  }
}

/* MAIN CONTENT */ 

#main {
  position: relative;
  height: 100%;
  width: 65vw;
  
}

section {position: relative; min-height: 100vh; padding: 7.5vh 0 0 0;}

/* POUR LA MAQUETTE */
section {}
/* POUR LA MAQUETTE */

.section_content {
  position: relative;
  width: 50vw;
  margin: 0 7.5vw;
}

.img_content {
  position:relative;
  padding: 0 5vw 4vh 5vw;
  width: 40vw;
  height: 40vh;
}

.img_content img{
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* MENU */ 
#menu {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 35vw;
  background: #2D1575;
  text-align: center;
  z-index: 999;
}

#tranche {
  position: relative;
  border-left: .5vw solid #9B3821;
  border-right: .5vw solid #9B3821;
  top: 0;
  left: 0;
  height: 100vh;
  width: 6vw;
  background-color: #F9582C;
  float: left;
}

#tranche table {
  position: relative;
  color: #2D1575;
  width: 6vw;
  height: 100vh;
  text-align: center;
  border-spacing: 0;
}

#tranche table img {
  width: 4.5vw;

}

#cell_top {
  vertical-align: top;
}

#cell_bottom {
  vertical-align: bottom;
}

.tranche_desc {
  width: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  position: relative;
  font-family: Avenir_Black;
  font-size: calc(12px + .8vw);
  text-align: center;
  min-height: 10em;
  line-height: 2em;
}

#logo_H {
  height: 12vw;
  right: -20vw;
  top: 30vh;
  position: fixed;
}


#top-menu {
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  top: 65vh;
  list-style: none;
}

#top-menu a {
  display: block;
  text-align: center;
  -webkit-transition: .5s all ease-out;
  -moz-transition: .5s all ease-out;
  transition: .5s all ease-out;
  color: #F9582C;
  font-family: Avenir_Roman;
  font-size: calc(12px + .7vw);
  text-decoration: none;
  text-align: left;
  line-height: 4.5vh;
  opacity: .3;
}

#top-menu a:hover {
  opacity: 1;
}

#top-menu li.active a {
  opacity: 1;
}

/* Contenu Secondaire */
#close-btn {
  fill: #231f20;
  
}

.close {
  margin-bottom: 20px;
}

.thankyou {
  position: fixed;
  width: 65vw;
  height: 100vh;
  top:0;
  left:65vw;
  opacity: 0;
  z-index: 2;
}

.close {text-align: right;}

.section-content {
  width: 280px;
  height: 150px;
  padding: 20px;
  margin: 0 auto;
  overflow: scroll;
}


/* Thumbs Actualités */

.actu_link {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.actu_link table {
  vertical-align: middle;
  border-spacing: 0;
  height: 100%;
}

.actu_link :hover .actu_img{
  opacity: 0;
  -webkit-transition: .3s all ease-out;
  -moz-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

td.actu_date {vertical-align: bottom; font-size: calc(12px + .3vw);}

td.actu_title {
  text-align: right;
  vertical-align: top;
  font-size: calc(15px + .3vw);
  font-family: 'charter';
  font-weight: 900;
}

.actu_img {
  position: relative;
  display: hidden;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: .5s all ease-out;
  -moz-transition: .5s all ease-out;
  transition: .5s all ease-out;
  z-index: 2;
}

.actu_excerpt {
  position: relative;
  z-index: 1;
  top: -22vh;
  height: 18vh;
  color: #F9582C;
  margin: 2vh 2vw;
}

.actu_center {
  background: #2D1575;
  border: none;
  width: 100%;
  height: 22vh;
}


/* ACTU Carousel */
.slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 55vw;
}

.slider {
  background: #F9582C;
  color: #2D1575;
  height: 43vh;
  display:flex;
  justify-content:center;
  align-items:center;

}

.slick-slide {
  height: 43vh;
  position: relative;
  display: table-cell;
  vertical-align:middle;
  padding: 0 1.5vw;
}

.slick-prev.slick-arrow, .slick-next.slick-arrow {
  position: absolute;
  cursor: pointer;
  color: transparent;
  border: 0;
  background: transparent;
  width: 5vw !important;
  height: 43vh;
  padding: 0;
}

.slick-prev {left: 0%;}

.slick-next {right: 0%;}

.slick-prev:before {
  content: "\f007";
  display:flex;
  justify-content:center;
  align-items:center;
  margin: 0;
  padding: 0;
}

.slick-next:before {
  content: "\f006";
  display:flex;
  justify-content:center;
  align-items:center;
}

.slick-prev:hover::before, .slick-next:hover::before {
  opacity: 1;
  -webkit-transition: .5s all ease-out;
  -moz-transition: .5s all ease-out;
  transition: .5s all ease-out;
}

.slick-prev:before, .slick-next:before {
  font-family: 'mfg_labs_iconsetregular';
  font-size: calc(20px + 1.5vw);
  opacity: .45;
  color: #2D1575;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: .5s all ease-out;
  -moz-transition: .5s all ease-out;
  transition: .5s all ease-out;
}

.slick-dots {
  position: absolute;
  width: 100%;
  height: 2vh;
  padding: 0;
  display:flex;
  justify-content:center;
  align-items:center;
  top: 75vh;
  margin: 0;
  color: #F9582C;
  list-style: none;
}

.slick-dots li button {
  line-height: 0;
  position: relative;
  height: 2vh;
  width: 2vh;
  margin: 0 1vh;
  display: inline-block;
  float: left;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;

}

.slick-dots li.slick-active button:before, .slick-dots li button:hover::before {
    color: #F9582C;
    content: '•';
    font-family: 'Avenir_Black';
    font-size: calc(30px + .7vw);
    line-height: 7px;
}

.slick-dots li button:before {
    font-family: 'Avenir_Light';
    font-size: calc(20px + .7vw);
    line-height: 0px;
    position: absolute;
    top: 0;
    left: 0;
    height: 2vh;
    width: 2vh;
    content: 'o';
    text-align: center;
    color: #F9582C;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* Queries RATIO */

/* Ratio exact */
@media (aspect-ratio: 1/1) {
  div {
    color: red;
  }
}

/* Ration minimal */
@media (min-aspect-ratio: 8/5) {
  div {
    background: yellow;
  }
}

/* Ratio maximal */
@media (max-aspect-ratio: 2/1) {
  div {
    border: 2px solid blue;
  }
}